cors:
  originPatterns: "https://bible.game,https://dev.bible.game,https://bible-game.github.io,http://localhost:3000,https://admin.bible.game"
  # http://localhost:3000 for Stanley
spring:
  datasource:
    url: jdbc:postgresql://${POSTGRES_URL}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driverClassName: org.postgresql.Driver
  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: none
  data:
    redis:
      url: ${REDIS_URL}