name: develop
on:
  push:
    branches: [ develop ]

jobs:
  test:
    name: test
    uses: ./.github/workflows/step-test.yml
    secrets:
      GH_PACKAGES_USER: ${{ secrets.GH_PACKAGES_USER }}
      GH_PACKAGES_TOKEN: ${{ secrets.GH_PACKAGES_TOKEN }}

  deploy:
    needs: test
    name: deploy
    permissions:
      packages: write
      contents: write
    uses: ./.github/workflows/step-deploy.yml
    with:
      task_definition_file: .aws/task-definition-dev.json
      container_name: passage-dev
      environment: dev